@import url(https://db.onlinewebfonts.com/c/fea31a6e7338aec52602b8c39dc16512?family=Agrandir+Thin);
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Agrandir Thin";
}
html{
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/main1.jpg);
    background-size: cover;
    transition-duration: .8s;
    min-height: 100%;
    height: calc(100vh);
    background-position: 30% -532px;
    opacity: 1;
    transform: translate(0);
}
body{
font-family: "Agrandir Thin";
    line-height: 1.6;
    overflow-x: hidden;
    font-size: 16px;
    color: #939393;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
font-family: "Agrandir Thin";
    color: #000000;
}
h3{
	font-weight: 500!important;
    line-height: 1.2!important;
}
.mHeader{
	height: 100vh;
    background: #fff;
    width: 46%;
    float: right;
    display: none;
    margin-top: -126px;
}
.mTop{
	padding: 10px;
    float: right;
    font-size: 50px;
    width: 100%;
    justify-content: right;
    display: flex;
    margin-top: -20px;
    cursor: pointer;
}
.title{
	color: #000;
    text-align: center;
    font-size: 3rem;
    font-weight: normal;
}
.icon{
	display: none;
}
.mHeaderNav ul{
	list-style: none;
    float: left;
    padding: 10px;
    margin-top: -15px;
}
.mHeaderNav ul li{
	padding: 10px 10px 10px 30px;
}
.mHeaderNav ul li a{
	text-decoration: none;
    color: rgb(0,0,0,0.7);
    font-size: 15px;
    transition: 0.3s;
}
.mHeaderNav ul li a:hover{
	color: #96bb7c;
}

.header{
	display: flex;
    width: 100%;
}
.active{

}
.logo{
    padding-left: 50px;
}
.logo img{
	width: 100px;
    height: 100px;
}
.navbar{
	display: flex;
    width: 100%;
}
.navbar ul li{
	list-style: none;
}
.navbar ul li a{
	text-decoration: none;
	color: rgba(255, 255, 255, 0.5);
    padding: 16px;
    transition: 0.3s;
}
.navbar ul li a:hover{
	color: #fff;
}
.navbar ul{
	display: flex;
    justify-content: center;
    width: 100%;
    padding: 38px;
}
.mainInfo{
	/*text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000;*/
    color: #fff;
    font-weight: 700;
    font-size: 26px;
    text-align: center;
    margin-top: 100px;
    margin-left: 43%;
    line-height: 2em;
}
.mainInfo .p1{
    font-size: 70px;
}
.mainInfo .p2{
    font-size: 36px;
}
section{
	height: calc(100vh);
}
section#about{
    background: #fff!important;
}
section#services{
    padding-top: 80px;
    background: #efefef!important;
}
section#portfolio{
    background: #fff!important;
    height: 100%;
    padding-bottom: 50px
}
.sec{
    background: #fff;
}
.boxPad{
	padding: 10px;
	text-align: center;
}
.box{
	padding: 70px 18px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    font-size: 17px;
}
.box h3.text-center {
    margin-top: -34px;
    font-size: 28px;
    font-weight: 900;
    color: #000;
    line-height: 2rem;
}
.aboutInfo{
    margin-top: -37px;
    padding-top: 60px;
}
.row {
    display: -ms-flexbox;
    display: flex;
}
.icon{
    font-size: 50px;
    color: #96bb7c;
}
.col{
	width: 50%;
}
.text-center{
	text-align: center;
}
.col img{
	width: 60%;
    height: 80%;
    -webkit-box-shadow: 0 0 20px rgb(0 0 0 / 25%)!important;
	box-shadow: 0 0 20px rgb(0 0 0 / 25%)!important;
}
.bioText{
	float: right;
    margin-left: -50px;
    margin-top: 50px;
    font-size: 18px;
}
.col img:before{
	z-index: -1;
    right: 0;
    -webkit-transform: translate(40%, -20%);
    -ms-transform: translate(40%, -20%);
    transform: translate(40%, -20%);
    position: absolute;
    content: "";
    width: 304px;
    height: 264px;
    background: url(assets/images/dots.png) right top;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.bio{
	font-size: 3rem;
    text-align: center;
}
.btn {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 30px;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .05rem;
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.hm{
	background: #96bb7c;
    border-color: #96bb7c;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}
.hm:hover{
	border-color: #a1c289;
    background: #a1c289;
}

.services{
	width: 80%;
    margin: 0 auto;
}
.menuIcon{
	float: right;
    width: 7%;
    margin-top: -110px;
}
.menuIcon i{
	font-size: 30px;
    color: #fff;
    margin-top: -2px;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.contact{
	margin-top: -15px;
    border: 1px solid #fff;
    width: 40%;
    float: right;
    margin-right: 140px;
    height: 500px;
    background: rgb(0,0,0,0.2);
}
.contact .title{
    color: #fff!important;
}
.contact form{
	height: 100%;
    width: 100%;
    padding: 16px;
}
.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}
.btn-success:hover {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
}
#message{
	height: 126px!important;
    width: 510px!important;
}
label {
    display: inline-block;
    margin-bottom: 0.5rem;
    color: #fff!important;
}
button {
    border-radius: 0;
}
button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}
button,
input {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button,
input {
    overflow: visible;
}
button {
    text-transform: none;
}
[type="submit"],
button {
    -webkit-appearance: button;
}
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
    padding: 0;
    border-style: none;
}
input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
}
small {
    font-size: 80%;
    font-weight: 400;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
    .form-control {
        transition: none;
    }
}
.form-control::-ms-expand {
    background-color: transparent;
    border: 0;
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.form-control::-webkit-input-placeholder {
    color: #6c757d;
    opacity: 1;
}
.form-control::-moz-placeholder {
    color: #6c757d;
    opacity: 1;
}
.form-control:-ms-input-placeholder {
    color: #6c757d;
    opacity: 1;
}
.form-control::-ms-input-placeholder {
    color: #6c757d;
    opacity: 1;
}
.form-control::placeholder {
    color: #6c757d;
    opacity: 1;
}
.form-control:disabled {
    background-color: #e9ecef;
    opacity: 1;
}
.form-group {
    margin-bottom: 1rem;
}
.form-text {
    display: block;
    margin-top: 0.25rem;
}
.form-check {
    position: relative;
    display: block;
    padding-left: 1.25rem;
}
.form-check-input {
    position: absolute;
    margin-top: 0.3rem;
    margin-left: -1.25rem;
}
.form-check-input:disabled ~ .form-check-label {
    color: #6c757d;
}
.form-check-label {
    margin-bottom: 0;
}
.btn, .form-control {
    height: 55px;
}
.cInput {
    border: none;
    border-bottom: 1px solid #d9d9d9;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
@media only screen and (max-width: 600px) {
	html{
	    background-position: 30% -639px;
	}
	.mainInfo{
	    line-height: 1em;
	    width: 100%;
	    margin-top: 126px;
    	margin-left: auto;
	}
	.header{
		display: none;
	}
	.menuIcon{
		display: block;
	}
	.row {
	    display: block;
	    width: 100%;
	}
	.col {
	    width: auto;
	}
	.bioText{
		float: left;
	}
	.sec{
		height: 100%!important;
	margin-top: -23px;
	}
	.bio{
		text-align: center;
	}
	section#about {
	    height: 900px!important;
	    margin-top: -160px!important
	}
	.buttons{
		text-align: center!important;
	}

}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}


address {
    margin-bottom: 1rem;
    font-style: normal;
    line-height: inherit;
}
ul {
    margin-top: 0;
    margin-bottom: 1rem;
}
a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
a:hover {
    color: #0056b3;
    text-decoration: underline;
}
.widget h3 {
    margin-bottom: 0.5rem;
    font-weight: 900!important;
    line-height: 1.2;
}
.widget h3 {
    font-size: 1.75rem;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}
.widget p{
    font-weight: 900!important;
}
li a i{
    margin-left: 9px;
    margin-top: 7px;
}
.fLogo{
    background: #000!important;
    border-radius: 50%!important;
    margin-left: -24px!important;
    width: 70px!important;
    height: 70px!important;
    margin-top: -20px!important;
}
.container .row .sv{
    margin-left: 100px;
}
.site-footer .site-footer .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 576px) {
    .site-footer .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .site-footer .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .site-footer .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .site-footer .container {
        max-width: 1140px;
    }
}
.site-footer .container .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col-12,
.col-lg-2,
.col-lg-3,
.col-lg-4 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
@media (min-width: 992px) {
    .col-lg-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
    .col-lg-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-lg-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}
.float-left {
    float: left !important;
}
.mb-4 {
    margin-bottom: 1.5rem !important;
}
.mt-5 {
    margin-top: 3rem !important;
}
.ml-auto {
    margin-left: auto !important;
}
.text-center {
    text-align: center !important;
}
.text-primary {
    color: #007bff !important;
}
.text-danger {
    color: #dc3545 !important;
}
@media print {
    *,
    ::after,
    ::before {
        text-shadow: none !important;
        box-shadow: none !important;
    }
    a:not(.btn) {
        text-decoration: underline;
    }
    h3,
    p {
        orphans: 3;
        widows: 3;
    }
    h3 {
        page-break-after: avoid;
    }
    .container {
        min-width: 992px !important;
    }
}
[class^="icon-"] {
    font-family: "icomoon" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-heart:before {
    content: "\f004";
}
.icon-twitter:before {
    content: "\f099";
}
.icon-facebook:before {
    content: "\f09a";
}
.icon-pinterest:before {
    content: "\f0d2";
}
.icon-linkedin:before {
    content: "\f0e1";
}
.icon-instagram:before {
    content: "\f16d";
}
.icon-dribbble:before {
    content: "\f17d";
}
/*! CSS Used from: https://preview.colorlib.com/theme/orbit/css/style.css */
a {
    color: #96bb7c;
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
}
a:hover {
    color: #96bb7c;
    text-decoration: none;
}
::selection {
    background: #000000;
    color: #ffffff;
}
.text-primary {
    color: #96bb7c !important;
}
h3 {
    color: #000000;
}
.site-footer {
    background: #efefef;
    font-size: 14px;
    color: #888;
    padding: 70px 0;
}
.site-footer a {
    color: #96bb7c;
    position: relative;
    display: inline-block;
}
.site-footer .widget {
    margin-bottom: 40px;
    display: block;
    position: relative;
    z-index: 1;
}
.site-footer .widget h3 {
    font-size: 16px;
    color: #000000;
    margin-bottom: 30px;
    margin-left: 12px;
}
.site-footer .widget .links {
    width: 150px;
}
.site-footer .widget .links li {
    margin-bottom: 10px;
}
.site-footer .widget .links li a {
    color: #777;
}
.site-footer .social li {
    display: inline-block;
}
.site-footer .social li a {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    background: #777;
    border-radius: 50%;
    color: #ffffff;
}
.site-footer .social li a:before {
    display: none;
}
.site-footer .social li a > span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.site-footer .social li a:hover {
    background: #b1cc9e;
    color: #ffffff;
}
