@import url(https://db.onlinewebfonts.com/c/fea31a6e7338aec52602b8c39dc16512?family=Agrandir+Thin);
body{
	
 color: #000;
 font-family: "Agrandir Thin"; 
 line-height: 1.6;
 overflow-x: hidden;
 font-size: 16px;
 color: #939393;
/*    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/images/main1.jpg)!important;*/
background-size: cover;
transition-duration: .8s;
min-height: 100%;
height: calc(100vh);
background-position: 30% -532px;
opacity: 1;
transform: translate(0);
background: #fff;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  font-family: "Agrandir Thin"; 
  color: #000000;
}
h3{
  font-weight: 500!important;
  line-height: 1.2!important;
}
.mHeader{
	height: 100vh;
  background: #efefef;
  width: 46%;
  float: right;
  display: none;
  margin-top: -126px;
}
.mTop{
	padding: 10px;
  float: right;
  font-size: 50px;
  width: 100%;
  justify-content: right;
  display: flex;
  margin-top: -20px;
  cursor: pointer;
}
.title{
	color: #000;
  text-align: center;
  font-size: 3rem;
  font-weight: normal;
}
.mHeaderNav ul{
	list-style: none;
  float: left;
  padding: 10px;
  margin-top: -15px;
}
.mHeaderNav ul li{
	padding: 10px 10px 10px 30px;
}
.mHeaderNav ul li a{
	text-decoration: none;
  color: rgb(0,0,0,0.7);
  font-size: 15px;
  transition: 0.3s;
}
.mHeaderNav ul li a:hover{
	color: #96bb7c;
}

.header{
 height: 130px;
 display: flex;
 width: 100%;
 background: rgb(0,0,0,0.5);
 margin-top: 0px;
}
.active{

}
.logo{
  padding-left: 50px;
}
.logo img{
	width: 80px;
  height: 80px;
}
.menuIcon{
	float: right;
  width: 7%;
  margin-top: -110px;
}
.menuIcon i{
	font-size: 30px;
  color: #fff;
  margin-top: -2px;
}
.navbar{
	display: flex;
  width: 100%;
}
.navbar ul li{
	list-style: none;
}
.navbar ul li a{
	text-decoration: none;
	color: rgba(255, 255, 255, 0.5);
  padding: 16px;
  transition: 0.3s;
}
.navbar ul li a:hover{
	color: #fff;
}
.navbar ul{
	display: flex;
  justify-content: center;
  width: 100%;
  padding: 30px;
  margin-left: -100px;
}
section{
  height: calc(100vh);
}
.sec{
  margin-top: -23px;
  background: #fff;
  border-bottom: 1px solid lightgrey;
}
.boxPad{
  padding: 10px;
  text-align: center;
}
.box{
  padding: 30px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.aboutInfo{
  margin-top: -37px;
  padding-top: 60px;
}
.row {
  display: -ms-flexbox;
  display: flex;
}
.icon{
  font-size: 50px;
  color: #96bb7c;
}
.col{
  width: 50%;
}
.text-center{
  text-align: center;
}
.col img{
 width: 60%;
 height: 90%;
 -webkit-box-shadow: 0 0 20px rgb(0 0 0 / 25%)!important;
 box-shadow: 0 0 20px rgb(0 0 0 / 25%)!important;
}
.bioText{
  float: right;
}
.col img:before{
  z-index: -1;
  right: 0;
  -webkit-transform: translate(40%, -20%);
  -ms-transform: translate(40%, -20%);
  transform: translate(40%, -20%);
  position: absolute;
  content: "";
  width: 304px;
  height: 264px;
  background: url(assets/images/dots.png) right top;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
.bio{
  font-size: 3rem;
}
.btn {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 30px;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .05rem;
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.hm{
  background: #96bb7c;
  border-color: #96bb7c;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}
.hm:hover{
  border-color: #a1c289;
  background: #a1c289;
}

.services{
  width: 80%;
  margin: 0 auto;
}
.menuIcon{
  float: right;
  width: 7%;
  margin-top: -110px;
}
.menuIcon i{
  font-size: 30px;
  color: #0000;
  margin-top: -2px;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media only screen and (max-width: 600px) {
	.header{
    display: none;
  }
  .menuIcon{
    display: block;
  }
  .row {
    display: block;
    width: 100%;
  }
  .col {
    width: auto;
  }
  .bioText{
    float: left;
    margin-left: -60px;
    margin-top: 50px;
  }
  .sec{
    height: 100%!important;
  }
  .bio{
    text-align: center;
  }
  section#about {
    height: 900px!important;
  }
  .buttons{
    text-align: center!important;
  }

}
footer{
  position: fixed;
  left: 0;
  right: 0;
  background: #efefef;
  height: auto;
  width: 100%;
  padding-top: 20px;
  color: #000;
  padding-bottom: 20px;
  text-align: center;
  font-size: 19px;
  line-height: 1rem;
  bottom: 0
}